
.footer{
    position: fixed justify-content center bottom 0 left 0 right 0 height 35px width 100%; background: rgb(186, 235, 209) padding 15px 20px; margin: 0 auto;font-family:'Soyuz Grotesk', sans-serif;;align-items:self-start;
     
    > .instagram-link { color: #000000 font-size 20px display flex position absolute bottom 50% left 1250px right 0px padding .1px top 30%;
    }
    
}